# Auto detect text files and perform LF normalization
* text=auto

# Binary assets
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.tif binary
*.tiff binary
*.xlsx binary
